
p{
    font-size: 25px;
}

#switchWords{
    width: 350px;
}

.elementContainer{
    border: 3px solid black;
    padding: 20px;
    border-radius: 15px;

    margin-top: 20px;
    margin-bottom: 20px;
}


#mouseEventImg{
    width: 300px;
    height: 300px;
    border: 5px solid black;
}

#rolloverImage{
    width: 500px;
    height: 300px;
}

#fadeImage{
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 50%;
    border: 5px solid black;
}

body{
    width: 80%;
    margin: 0 auto;
}

button{
    padding-top: 5px;
    padding-bottom: 5px;
}

h2{
    position: relative;
    text-align: center;
    top: 50px;
}

#drawingSection{
    position: relative;
    background-color: gainsboro;
    width: 1000px;
    height: 850px;
}



#drawCanvas{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    background-color: white;
    position: relative;
    left: 250px;
    top: 50px;
}


#imageContainer{
    position: absolute;
    right: 265px;
    top: 120px;
    background-color: red;
    width: 175px;
    height: 175px;
}

#drawingButtons{
    position: relative;
    background-color:aliceblue;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    top: 75px;
    left: 250px;
    border: 5px solid orange;
    font-family: Arial, Helvetica, sans-serif;
}

.drawButton{
    padding: 0.7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}