

@font-face{
    font-family: digitalFont;
    src: url(retro_computer_personal_use.ttf);
}


#background{
    background: gray;
    width: 100%;
    height: 100%;
    position:absolute;
    
    top:0;
    left:0;
    z-index: -1;
}

#redButton{
    width: 75px;
    height:75px;
    border-radius: 50%;
    background-color: red;
    position:absolute;
    left: 50%;
    bottom: 100px;
    border:7px solid gray;
    transform: translate(-50%,-50%);
    
}

#feedbackText{
    height: auto;
    width: 100%;
    height:500px;
    position:relative;
    text-align: center;
    font-size: 50px;
    left:50%;
    top:25%;
    transform:translate(-50%, 0);
    font-family: digitalFont;
    color:white;
    z-index: -1;
}



#playWindow{
    position:absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    border: 5px solid white;
    background: black;
}

#light{
    width: 50%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-10%);
    background-image: radial-gradient(circle, #ffffff, #d19a00, #c04e24, #d19a00,#000007,#000007,#000007);
    border-radius: 50%;
    clip-path: polygon(45% 33%, 55% 33%, 100% 100%, 0% 100%);
    transition: 0.5s;
}


