#buttonshit{
    width: 250px;
    height: 150px;
    text-align: center;
    font-size: 50px;
}

#mathStuff{
    
}

p{
    font-size: 25px;
}

#switchWords{
    width: 350px;
}

#mouseEventImg{
    width: 300px;
    height: 300px;
    border: 5px solid black;
}