
@font-face{
    font-family: myFont;
    src: url(Locanita.ttf);
}

header{
    background-color :#7a7a52;
    text-align: left;
    position: sticky;
    top: 0px;
    height: 200px;
    width: 95%;
    left :2.5%;
}

header h1{
    position: relative;
    padding-left: 30px;
    top :20px;
    font-size: 500%;
    color: white;
    font-family: myFont;
}

#description{
    padding-top: 50px;
    padding-bottom: 20px;
}

#author{
    position: absolute;
    bottom: 185px;
    right: 2px;
    font-family: myFont;
    color:white;

}

body{
    font-family: myFont;
    font-size: 130%;
    background: linear-gradient(to right top, #000000, #0d0d0d);
    color: white;
  
}

main{
    top: 30px;
    text-align: center;

    border: 5px solid white;
}


#links a{
    position: relative;
    left: 30px;
    background-color:#808080;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: myFont;
    font-size: 30px;
    border: 2px solid orange;
}

#links a:hover{
    background-color: #ec6b01;
}

#links a:active{
    background-color: lightsalmon;
}

#maillink{
    background-color:#808080;
    border: 2px solid orange;
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
}

#maillink:hover{
    background-color: #ec6b01;
}

#contactinfo{
    position: fixed;
    background-color: black;
    text-align: center;
    height: 170px;
    width: 200px;
    right: 10px;
    bottom: 25px;
}


aside{

}












